<style>
        h1{
            color: #0000FF;
            font-size: 30px;
            text-align: left;
        }

        h2{
            color: #B22222	;
            font-size: 20px;
        }

        body{
            font-size: 12px;
            font-family: arial;
            text-align: center;
        }
        form{ 
            margin: 0 auto;
            width: 350px;
            height: 350px;
            border-radius: 1pc;
            background-color: #4169E1;
            border: 1px solid ;
            padding: 2em;            
            text-align: left;
            font-family: Arial, 'Times New Roman';
            box-shadow: 8px 8px #363636;
        }
        ul{
            background-color: #4169E1;
            border-radius: 1pc;  
            margin: 0 rigth;
            padding: 5em; 
            width: 200px;
            height: 300;
            border: 1px solid #4169E1;
        }
        li{
            padding: 1em; 
        }
        dl{
            text-align: center;
        }
        a{
            position: left;
        }
        label{
            width: 150px;
            padding: 2px;
        }
        textarea{
            float: left;
            padding: 5px;
        }
        textarea:hover{
            border-color: #0000FF;
            padding: 5px;
        }          
        input {
            width: 100px;
        }
        label:focus, input:focus{
            border-color: #000000;
            padding: 5px;
        }
        input:hover{
            border-color: #0000FF;
        }
        .button{
            border: none;
            border-radius: 15px;
            padding: 20px 30pxs;
            background-color: #008000;
            color: white;
            font-size: 30px;
            box-shadow: 8px 8px #363636;
            cursor: pointer;
        }
        .button:hover{
            background-color: #fdd802;
        }
        .button:active{
            background-color: #fdd802;
            color: black;
            box-shadow: 4px 4px #363636;
        }     
</style>